* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  font-family: Nunito Sans;
}

body {
  --color-primary: hsl(0, 0%, 100%);
  --color-primary-contrast: hsl(0, 0%, 98%);
  --color-secondary: hsl(0, 0%, 52%);
  --color-text: hsl(200, 15%, 8%);
}

body.dark {
  --color-primary: hsl(209, 23%, 22%);
  --color-primary-contrast: hsl(207, 26%, 17%);
  --color-secondary: hsl(200, 15%, 8%);
  --color-text: hsl(0, 0%, 100%);
}

.navigation-bar {
  background-color: var(--color-primary-contrast);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  .navigation-bar-left {
    color: var(--color-text);
    font-size: larger;
  }

  .navigation-bar-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .navigation-bar-right__button {
      border: none;
      background-color: transparent;
      height: 25px;
      width: 25px;

      .navigation-bar-right__button-mode {
        height: 100%;
        width: 100%;
      }
    }

    .navigation-bar-right-text {
      color: var(--color-text);
      font-size: medium;
    }
  }
}

main {
  background-color: var(--color-primary);
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

